h1{
    background-color: darkgray;
    color: aliceblue;
    font-size: 500%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
body{
    background-color: black;
}
h2{
    background-color: darkgray;
    color: aliceblue;
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div{
    text-align: center;
}
span{
    text-align: center;
    border-color: aliceblue;
}